.u-block-5db5-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-5db5-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-5db5-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/65e06889dca5275489aea59c6135e713075024cb16a4759e4a0a110803cca51b3256329e239ba2bd591214d7dbbda80e3c902a2c696821183c0cd1_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 682px;
}

.u-section-1-1 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 200px auto 0;
}

.u-section-1-1 .u-text-2 {
  width: 837px;
  margin: 50px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 170px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-top: 53px;
    margin-left: 52px;
    margin-right: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 323px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/786f58d560a209398e058c0d026324f4966efb41283870d2a0045728d2fe27f10426bc594136d3b8601c37ec8f0bfcfc20e583de8354080254f0a7_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 682px;
}

.u-section-1-2 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 200px auto 0;
}

.u-section-1-2 .u-text-2 {
  width: 837px;
  margin: 50px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-top: 170px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-top: 53px;
    margin-left: 52px;
    margin-right: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 323px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
  }
}